<h1>Admin Dashboard</h1>
<div class="top-stat-container">
  <button type="button" class="btn btn-info stat-card">
    <img src="https://img.icons8.com/material-rounded/96/000000/copy.png">
   <div>
      <h3><%= @products.length %></h3>
      <h6>Products</h6>
    </div>
  </button>
  <button type="button" class="btn btn-info stat-card">
    <img src="https://img.icons8.com/ios/100/000000/categorize.png">
    <div>
      <h3><%= @categories.length %></h3>
      <h6>Categories</h6>
    </div>
  </button>
</div>
